<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title th:text="로그인"></title>
</head>
<body>
<h2>로그인</h2>
<div>
    <form action="users/signIn" method="post">
        <div>
            <div>아이디</div>
            <input id="username" type="text" name="username"/>
        </div>
        <div>
            <div>비밀번호</div>
            <input id="password" type="password" name="password"/>
        </div>
        <br/>
        <input class="btn-submit" type="submit" value="로그인">
    </form>
</div>
</body>
</html>